<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_practical_6_data_and_file_storage_zheng_jj.week_6_whackamole_3_0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" />
</manifest>
